.results-list-container {
  height: 100%;
  padding: 0 0;
}

.results-list-table {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.results-list-table::-webkit-scrollbar {
  display: none;
}

.multi-line-format {
  white-space: pre-wrap;
}